# DS-SF-34 | 11 | Logistic Regression | Assignment | Starter Code

In [7]:
import os

import numpy as np
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

from sklearn import linear_model, cross_validation

import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

## Probability, Odds, and Odds Ratios

In [8]:
df = pd.read_csv("../datasets/dataset-11-bank-marketing.csv")

**Probability:** The number of ways that an event can occur divided by the total number of possible outcomes.

The probability of drawing a red card from a standard deck of cards is 26/52 (50 percent).
The probability of drawing a club from that deck is 13/52 (25 percent).

> ### Question 1.  What's the probability of getting heads in a fair coin flip?

In [ ]:
# TODO
# 0.5

The odds for an event is the ratio of the number of ways the event can occur compared to the number of ways it does not occur.

For example, using the same events as above, the odds for:
- Drawing a red card from a standard deck of cards is 1:1; and
- Drawing a club from that deck is 1:3.

> ### Question 2.  What's the odds of a fair coin flip?

In [9]:
# TODO
# 1:1

> ### Question 3.  Suppose that 18 out of 20 patients in an experiment lost weight while using diet A, while 16 out of 20  lost weight using diet B.  What's the probability of weight loss with diet A?  What's the odds?

In [ ]:
# 90%, odds: 9:10

> ### Question 4.  What's the probablity of weight loss with diet B?  What are the odds?

In [ ]:
# 80%, odss: 8:10

> ### Question 5.  What's the odds ratio?

In [ ]:
# 2.25

## Bank Marketing

In [10]:
df = pd.read_csv(os.path.join('..', 'datasets', 'dataset-11-bank-marketing.csv'))

In [11]:
df

,age,job,marital,education,default,...,campaign,pdays,previous,poutcome,c
0,30,unemployed,married,primary,no,...,1,-1,0,unknown,no
1,33,services,married,secondary,no,...,1,339,4,failure,no
2,35,management,single,tertiary,no,...,1,330,1,failure,no
3,30,management,married,tertiary,no,...,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,...,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,...,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,...,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,...,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,...,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,...,2,249,7,other,no

> The dataset is related to the direct marketing campaigns (by phone) of a Portuguese banking institution.  The classification goal is to predict if the client will subscribe a term deposit (variable y).

Attributes Information:

- Input variables:
  - [Bank client data]
    - `age` (numeric)
    - `job`: type of job (categorical)
    - `marital`: marital status (categorical)
      - Note: `divorced` means divorced or widowed)
    - `education` (categorical)
    - `default`: has credit in default? (categorical)
    - `balance`: bank account balance (\$)
    - `housing`: has housing loan? (categorical)
    - `loan`: has personal loan? (categorical)
  - [Data related with the last contact of the current campaign]
    - `contact`: contact communication type (categorical)
    - `month`: last contact month of year (categorical)
    - `day_of_week`: last contact day of the week (categorical)
    - `duration`: last contact duration, in seconds (numeric)
      - Important note: this attribute highly affects the output target (e.g., if `duration = 0` then `y = 'no'`). Yet, the duration is not known before a call is performed.  Also, after the end of the call y is obviously known.  Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
  - [Other attributes]
    - `campaign`: number of contacts performed during this campaign and for this client (numeric)
    - `pdays`: number of days that passed by after the client was last contacted from a previous campaign (numeric)
      - 999 means client was not previously contacted
    - `previous`: number of contacts performed before this campaign and for this client (numeric)
    - `poutcome`: outcome of the previous marketing campaign (categorical)

- Output variable (desired target):
  - `y`: has the client subscribed a term deposit? (binary)

> Our goal is to develop a model the best predicts the outcome `y`, the success of the marketing campaign.

> ## Question 6.  Remove the categorical variables with the most number of distinct values

In [41]:
df["job"].nunique

<bound method Series.nunique of 0          unemployed
1            services
2          management
3          management
4         blue-collar
            ...
4516         services
4517    self-employed
4518       technician
4519      blue-collar
4520     entrepreneur
Name: job, Length: 4521, dtype: object>

In [46]:
def unique_values(column):
    return column.nunique()

categorical_columns = df.select_dtypes(include = "object").columns
categorical_columns

for column in categorical_columns:
    print "column: {}".format(column), unique_values(df[column])
    
#why can't we do apply with axis =1?

TypeError: include and exclude must both be non-string sequences

Answer: TODO

> ## Question 7.  Recode all `yes`/`no` categorical variables with `0` as the most frequent value (then also append `"_no"` to the variable name), and `1` for the other (then leave the name unchanged)

In [48]:
for column in df.select_dtypes(include="object").columns:
    print column, df[column].unique()
    
    
yes_no_columns = ["default","housing","loan", "c"]

TypeError: include and exclude must both be non-string sequences

> ## Question 8.  Create binary/dummy variables for the other categorical variables

In [ ]:
def convert_to_binary(yesno_string):
    if yesno_string == 'yes':
        return 1
    else:
        return 0 
for yes_no_column in yes_no_columns:
    df[yesno_column] = df[yes_no_columns].map(covert_to_bary)

In [ ]:
df[yest_no_columns].mean()

> ## Question 9.  What should be your baseline for these binary variables (namely, which binary variables should you not include in your model)?

In [50]:
pd.get_dummies(df)

,age,default,balance,day,duration,...,poutcome_other,poutcome_success,poutcome_unknown,c_no,c_yes
0,30,True,1787,19,79,...,0,0,1,1,0
1,33,True,4789,11,220,...,0,0,0,1,0
2,35,True,1350,16,185,...,0,0,0,1,0
3,30,True,1476,3,199,...,0,0,1,1,0
4,59,True,0,5,226,...,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
4516,33,True,-333,30,329,...,0,0,1,1,0
4517,57,False,-3313,9,153,...,0,0,1,1,0
4518,57,True,295,19,151,...,0,0,1,1,0
4519,28,True,1137,6,129,...,1,0,0,1,0
4520,44,True,1136,3,345,...,1,0,0,1,0

Answer: TODO

> ## Question 10.  What input variable in the dataset seems to predict the outcome quite well.  Why?

In [ ]:
# TODO

Answer: TODO

> ## Question 11.  Split the dataset into a training set (60%) and a testing set (the rest)

In [ ]:
# TODO

> ## Question 12.  Run a logistic regression with `age`, `marital` (the dummies), `default`, `balance`, `housing`, `loan`, `campaign`, `pdays`, `previous`?

In [ ]:
# TODO

> ## Question 13.  What is your training error?  What is your generalization error?  Does it make sense?

In [ ]:
# TODO

Answer: TODO

> ## Question 14.  Interpret your coefficients. (At least `marital_single`, `campaign`, and `default`).  Does your interpretation  make sense?

In [ ]:
# TODO

Answer: TODO

> ## Question 15.  What is your prediction for a 30 years old single female, a homeowner with a \$1,000 balance in the bank, without a loan, who has never been contacted before, and who has never defaulted

In [ ]:
# TODO

Answer: TODO